<main>
  <header>
    <h2 class="title">Movie Favorites</h2>
  </header>
  
  <div class="wrapper">
    <div class="card">
      <h3 data-card-title="The King's Man">The King's Man</h3>
      <img
        src="../assets/images/image01.jpg"
        alt="The King's Man"
      />
      <button name="movie-01" class="btn" (click)="handleClick($event)">Vote</button>
    </div>
    <div class="card">
      <h3 data-card-title="Black Widow">Black Widow</h3>
      <img
        src="../assets/images/image02.jpg"
        alt="Black Widow"
      />
      <button name="movie 02"class="btn" (click)="handleClick($event)">Vote</button>
    </div>
    <div class="card">
      <h3 data-card-title="Birds of Prey">Birds of Prey</h3>
      <img
        src="../assets/images/image03.jpg"
        alt="Birds of Prey"
      />
      <button name="movie-03" class="btn" (click)="handleClick($event)">Vote</button>
    </div>
    <div class="card">
      <h3 data-card-title="Free Guy">Free Guy</h3>
      <img
        src="../assets/images/image04.jpg"
        alt="Free Guy"
      />
      <button name="movie-04" class="btn" (click)="handleClick($event)">Vote</button>
    </div>
  </div>
</main>